{% if form_show_errors and not form.is_extra %}
    {% include "bootstrap3/errors.html" %}
{% endif %}

<tr>
    {% for field in form %}
        {% if field.name == 'price' %}
            <td><span data-bind="text: services()[{{ form.number }}].price()"></span></td>
                            {% elif field.name == 'vat' %}
                                <td><span data-bind="text: services()[{{ form.number }}].vat()"></span></td>
        {% elif field.name == 'quantity' %}
            <td id="div_id_servicetobill_set-{{ form.number }}-quantity" class="form-group">
                <div class="controls "><input class="numberinput form-control form-control"
                                              data-bind="value: services()[{{ form.number }}].quantity"
                                              id="{{ field.auto_id }}"
                                              name="servicetobill_set-{{ form.number }}-quantity"
                                              type="number" min="1"></div>
            </td>
        {% elif field.name == 'DELETE' %}
            <td>
                {% if form.number > 0 %}
                    <button class="btn btn-default delete-form" type="button">Usuń</button>
                {% endif %}
            </td>
        {% else %}
            {% include 'bootstrap3/field.html' with tag="td" form_show_labels=False %}
        {% endif %}
    {% endfor %}
</tr>