<form>
    <table class="table table-striped">
        <tbody>
            <tr>
                <td>Metoda płatności:</td>
                <td>
                    Gotówka
                </td>
            </tr>
            <tr>
                <td>Do zapłaty:</td>
                <td></td>
            </tr>
            <tr>
            <tr>
                <td>Wpłacono:</td>
                <td><input type="form-control" type="number" min="0" /></td>
            </tr>
            <tr>
                <td>Reszta:</td>
                <td></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2">
                    <button class="btn btn-success">{{ text }}</button>
                    <button class="btn btn-danger">anuluj</button>
                </td>
            </tr>
        </tfoot>
    </table>
</form>